[submodule "spacenavd"]
	path = spacenavd
	url = https://github.com/FreeSpacenav/spacenavd.git
[submodule "libspnav"]
	path = libspnav
	url = https://github.com/FreeSpacenav/libspnav.git
[submodule "seeed-voicecard"]
	path = seeed-voicecard
	url = https://github.com/HinTak/seeed-voicecard
[submodule "speexdsp-ns-python"]
	path = speexdsp-ns
	url = https://github.com/TeaPoly/speexdsp-ns-python.git
