[Unit]
Description=Shaky Steve 3D 3D navigator driver
StartLimitIntervalSec=0
StopWhenUnneeded=true
Wants=steve-spacenavd.service steve-roboarm.service
After=steve-spacenavd.service steve-roboarm.service

[Service]
Environment=PYTHONUNBUFFERED=1
Environment=VERBOSE=3
Restart=on-failure
RestartSec=5
WorkingDirectory=/srv/steve
ExecStart=/srv/steve/venv/bin/python -m steve.mouse
