[Unit]
Description=Shaky Steve main program
After=steve-roboarm.service steve-stt.service
Wants=steve-roboarm.service steve-stt.service
StartLimitIntervalSec=0

[Service]
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1
Environment=VERBOSE=3
WorkingDirectory=/srv/steve
ExecStart=/srv/steve/venv/bin/python steve/main.py

[Install]
WantedBy=multi-user.target
