[Unit]
Description=Shaky Steve LED driver
After=steve-roboarm.service steve-stt.service
Wants=steve-roboarm.service steve-stt.service
StartLimitIntervalSec=0

[Service]
BusName=net.janakj.steve.LED
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1
Environment=VERBOSE=3
WorkingDirectory=/srv/steve
ExecStart=/srv/steve/venv/bin/python -m steve.led

[Install]
WantedBy=multi-user.target
