[Unit]
Description=Shaky Steve robotic arm driver
StartLimitIntervalSec=0

[Service]
BusName=net.janakj.steve.RoboArm
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1
Environment=VERBOSE=3
WorkingDirectory=/srv/steve
ExecStart=/srv/steve/venv/bin/python roboarm.py

[Install]
WantedBy=multi-user.target
